/* Common styles Start */
body{
    font-family: 'Inter', sans-serif;
    font-family: 'Manrope', sans-serif;
    font-family: 'Poppins', sans-serif;
}
:root{
    --main-color: #3A3A3A;
}
a{
    text-decoration: none;
}
p{
    color: var(--main-color);
}
h1, h2, h3, h4{
    margin: 0;
}
/* Common styles end  */

/* Menu Styles Start  */
.header-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 80px;
}
.logo p{
    font-size: 24px;
    color: var(--main-color);
}
ul{
    display: flex;
}
nav li{
    list-style: none;
    padding-left: 20px;
}
li a{
    text-decoration: none;
    color: var(--main-color);
}
/* Menu Styles end  */

/* Main Section Start  */

/* Top Section Start  */
.top-section{
    display: flex;
    align-items: center;
}
.container{
    width: 1200px;
    margin: auto;
}
.top-section-image img{
    width: 100%;

}
h1{
    font-size: 52px;
    color: var(--main-color);
}
.top-section-text{
    padding-bottom: 16px;
}
.top-section-text{
    color: var(--main-color);
}
.primary-button{
    margin-top: 10px;
    background-color: #E02C6D;
    padding: 10px 24px;
    border-radius: 41px;
    color: #ffffff;
}
a .fas{
    margin-left: 8px;
}
/* Top Section End  */

/* Product Section Start  */
.popular-collection{
    padding-top: 100px;
}
.product-details{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    column-gap: 30px;
    padding-top: 30px;
}
.top-section-text{
    color: #000;
}
.heading-text{
    color: var(--main-color);
}
.single-product-detail {
    max-width: 100%;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}
.product-image img{
    /* width: 300px;
    height: 256px; */
    max-width: 100%;
    padding: 15px;
}
.product-text{
    padding-left: 15px;
}
.product-info{
    font-size: 14px;
}
.rating{
    color: #5E6366;
    font-size: 14px;
}
.product-name{
    font-size: 28px;
    font-weight: 500;
}
.product-price{
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
}
.filled{
    color: #FB8200;
    font-size: 14px;
}
.empty{
    color: #ddd8d8;
    font-size: 14px;
}
.see-more{
    color: #5E6366;
    text-align: right;
    padding-top: 20px;
}
/* Product Section End  */

/* Contact Section Start  */
.contact-us{
    padding: 30px 0;
}
/* .contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
} */
form{
    width: 400px;
}
input, textarea{
    display: block;
    width: 100%;
    padding: 16px 20px;
    box-sizing: border-box;
    outline: none;
    border:1px solid gray;
    margin-top: 15px;
    font-family: inherit;
    border-radius: 10px;
}
input[type="submit"]{
    width: unset;
}
/* Contact Section End  */

/* Main Section end  */

/* Footer Section Start  */
.footer-content{
    background: #0A0826;
    padding: 50px 0;
    text-align: center;
}
.footer-content h2, h5, .social-icon{
    color: #ffffff;
}
.footer-right{
    color: #ffffff;
}
.footer-text h5{
    font-family: Manrope;
    font-size: 14px;
    color: #ffffff;
}
.social-icon{
    padding-right: 10px;
}
/* Footer Section End  */

/* Animation  */

.top-section-image img{
    animation: img-animation 1s linear 0s infinite alternate;
}

@keyframes img-animation{
    from{
        transform: translateY(10px);
    }

    to{
        transform: translateY(-10px);
    }

}
/* For Mobile  */

@media (max-width:688px){

    html, body{
        width:100%;
        overflow-x:hidden;
        }
    .logo{
        max-width: 100%;
    }
    .header-section {
        max-width: 100%;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 0;
    }
    ul{
        display: none;
    }
    
    /* Top Section  */
    .top-section {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        max-width: 100%;
    }
    .container{
        max-width: 1200px;
        margin: auto;
    }
    .top-section-title{
        min-width: 100%;
        margin: 0;
        font-size: 28px;
    }
    .top-section-image img {
        Width: 100%;
    }
    /* Popular product section  */
    .popular-collection{
        padding-top: 0px;
    }
    .product-details{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        
    }
    /* Contact Section  */
}